@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Scada', sans-serif;
    --blue: #2FC4CD;
    box-sizing: border-box;
}
.blue-text{
    color: var(--blue);
}
body{
    background: #0d0123;
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
section{
    overflow-x: hidden;
}
/* Background */
.top-visual{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
/* Top Content */
.content{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(12, 92, 117, 0.42) 0%, rgba(12, 92, 117, 0.315) 100%);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
/* Text Top Content */
.content .labels{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.content .labels .name{
    color: white;
    font-size: 3rem;
}
.content .labels .role{
    color: var(--blue);
    font-size: 1.5rem;
}
/* Images Top Content */
.content .images{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-images-top{
    width: 100%;
    position: relative;
}
.bg-light{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 50%;
    z-index: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(84, 192, 216, 0.6) 0%, rgba(84, 192, 216, 0) 100%);;
}
.content .images .image-content{
    width: 25%;
    padding-top: 50%;
    position: absolute;
    top: 25%;
    /* left: 37.5%; */
    left: 200%;
    border-radius: 15px;
    transition: all 0.5s ease-in;
}
.image-content.image-left{
    background: url('https://user-images.githubusercontent.com/83781782/118924696-113a3580-b903-11eb-8d1b-b3c72bb49400.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-70%, -40%);
    filter: blur(1px);
    animation: slideImage 2s;
    animation-fill-mode: forwards;
}
.image-content.image-center{
    background: url('https://user-images.githubusercontent.com/83781782/120059542-e2fdd980-c017-11eb-85fe-6de59a529e85.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;
    animation: slideImage 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    position: relative !important;
}
.image-content.image-right{
    background: url('https://user-images.githubusercontent.com/83781782/119242214-b6325980-bb21-11eb-9cad-a332c31241cd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(70%, -40%);
    filter: blur(1px);
    animation: slideImage 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.mameshiba{
    z-index: 3;
    width: 100%;
    margin-bottom: -25%;
    position: absolute;
    bottom: -12.5%;
    transform: rotate( -30deg );
    animation: shaking 2s infinite;
    animation-delay: 3s;
}
.mameshiba img{
    width: 100%;
}
/* about Me */
.about-me .cover-text,.cover-text-hobbies,.cover-text-home{
    width: 100vw;
    height: 100vh;
    background: rgba(13, 32, 63, 0.5);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    opacity: 0;
}
.about-me, .knowledge{
    width: 100%;
    height: 100vh;
    background: #0D203F;
    max-width: 100%;
    padding: 15px 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.about-me{
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}
.about-me .header{
    color:white;
    font-size: 2.5rem;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px 15px;
    position: relative;
}
/* Hobbies */
.hobbies{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    /* padding: 15px 40px; */
}
/* Cards Style */
.card{
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    transition: all 0.2s linear;
}
.on-hover:hover{
    transform: scale(1.2);
}
.card.full-wd{
    width: 100%;
    margin: auto;
}
.card.medium-wd{
    width: 50%;
    margin: auto;
}
.card .card-header{
    width: 100%;
    text-align: center;
    background: rgba(13, 32, 63, 0.5);
    border: 5px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 20px 20px 0px 0px;
    padding: 20px 15px;
    font-size: 2rem;
    color: white;
}
.card .card-header img{
    width: 50%;
}
/* .card:hover .card-header img{
    animation: shaking-from-cero 1.5s linear infinite;
    animation-fill-mode: forwards;
} */
.card .card-content{
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    padding: 30px 20px;
    font-size: 1.5rem;
}
.card .card-content.topic-text{
    color: #217B8E;
    text-align: center;
    font-size: 2rem;
}
/* Knowledge */
.content-technologies, .contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.content-technologies img{
    width: 10%;
    height: 10%;
    margin: 2.5%;
    min-width: 50px;
    transition: all 0.2s linear;
}
.content-technologies img:hover,.contact-me a:hover{
    transform: scale(1.4);
}
/* Contact me */
.contact-me-card{
    margin: auto;
}
.contact-me-card .card-content{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contact-me a{
    display: flex;
    width: 10%;
    height: 10%;
    margin: 2.5%;
    min-width: 50px;
    transition: all 0.2s linear;
}
.contact-me a img{
    width: 100%;
}
/* Content bg animation */
.bg-animations{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.bg-animations > div{
    position: absolute;
    width: 30vw;
    height: 30vw;
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(83, 169, 196, 0.55) 0%, rgba(120, 208, 235, 0) 100%); */
    background: rgba(83, 169, 196, 1);
    opacity: 0.3;
}
.figure-1{
    border-radius: 65% 27% 25% 46% / 64% 22% 41% 33%;
    top: 5px;
    left: 10px;
    -webkit-animation: rotate-scale-up 12s linear infinite both;
    animation: rotate-scale-up 12s linear infinite both;
}
.figure-2{
    border-radius: 18% 56% 25% 24% / 27% 48% 41% 61%;
    top: 35%;
    right: 10px;
    -webkit-animation: rotate-scale-up 14s linear infinite both;
    animation: rotate-scale-up 14s linear infinite both;
}
.figure-3{
    border-radius: 23% 56% 25% 48% / 21% 24% 27% 100%;
    bottom: 5px;
    left: 35%;
    -webkit-animation: rotate-scale-up 18s linear infinite both;
    animation: rotate-scale-up 18s linear infinite both;
}
/* Animations */
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
              opacity: 0.3;
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
              opacity: 0.6;
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
              opacity: 0.3;
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(1.5) rotateZ(180deg);
              transform: scale(1.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slideImage {
    0%{
        left: 200%;
        opacity: 0;
    }
    100%{
        left: 37.5%;
        opacity: 1;
    }
}
@keyframes shaking {
    0%{
        transform: rotate( -30deg );
    }
    50%{
        transform: rotate( 30deg );
    }
    100%{
        transform: rotate( -30deg );
    }
}
@keyframes shaking-from-cero {
    0%{
        transform: rotate( 0deg );
    }
    25%{
        transform: rotate( -30deg );
    }
    50%{
        transform: rotate( 0deg );
    }
    75%{
        transform: rotate( 30deg );
    }
    100%{
        transform: rotate( 0deg );
    }
}

/* Responsive Style */
@media screen and (max-width: 850px) {
    html{
        font-size: 15px;
    }
    .content{
        flex-direction: column;
    }
    .content .labels,.content .images{
        width: 100%;
        height: 50%;
    }
    /* About me */
    /* .about-me{
        height: fit-content;
        display: block;
    } */
    /*Hobbies*/
    .hobbies{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .hobbies > .card{
        width: 48%;
        margin-bottom: 10%;
    }
    /*Contact me*/
    .contact-me-card{
        width: 75%;
    }
}
@media screen and (max-width: 650px){
    /* Set Font Size */
    html{
        font-size: 13px;
    }
    /* Set Size Cards */
    .hobbies > .card{
        width: 45%;
        margin: auto;
        margin-bottom: 20px;
    }
    .card.full-wd .card-content{
        text-align: center;
    }
    /* figure animated */
    .bg-animations > div{
        width: 50vw;
        height: 50vw;
    }
    /* Contact me */
    .contact-me-card{
        width: 100%;
    }
    .card.medium-wd{
        width: 100%;
    }    
}